body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  .channels-list{
    width: 20%;
    height: 100vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .channel {
      text-transform: capitalize;
      cursor: pointer;
      font-size: large;
      margin-bottom: 20%;

      &.active {
        color: orange;
        font-weight: bold;
      }
    }
  }

  .messages-list {
    width: 80%;
    height: 100vh;
    overflow: auto;
    padding: 2%;

    .channel-title {
      width: 100%;
      height: 10%;
      border-bottom: 1px solid orange;

      h4 {
        font-weight: bold;
      }
      
    }

    .message {
      h3 {
        color: orange;
        display: flex;
      }
    }
    form {

      position: absolute;
      bottom: 3%;

      input {
        width: 100vh;
      }
      button {
        width: 20vh;
        background: orange;
        border: 2px solid orange;
        color: white;
      }
    }
  }
}
